/* deleted all of this, basically. */

html {
    overflow-x: hidden;
}


/* Font looks weird, don't know why :( */
@font-face {
    font-family: DIN-black;
    src: url("DIN\ Black\ Regular.otf") format("opentype");
}

@font-face {
    font-family: DIN;
    src: url("../assets/DIN.ttf") format("opentype")
}


body {
    margin: 0 0 0 0 !important;
    padding: 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: DIN;
    font-size: 19px;
    line-height: 2em;
}

#download {
    display: inline-block;
    width: 20px;
    height: 20px;

    overflow: hidden;
    /* Hide any overflowing content */
}

h2 {
    font-family: DIN-black;
    color: #00448B;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2.no-margins {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-family: DIN-black;
    color: #00448B;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

h4 {
    color: #00448B;
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0;
}

.navbar {
    background-color: #000;
    font-family: DIN-black
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    height: 30px;
    width: auto;
}

.main-content {
    /* idk experimentally, looks the best to me */
    margin-top: 7%;
}

.sidebar {
    margin-top: 50px;
}

.sidebar-header {
    /* background-color: #333; */
    font-family: DIN-black;
    color: black;
    padding: 10px;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #009ADE;
}

.workshop-item {
    position: relative;
    overflow: clip;
}

.workshop-item img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

.banner-img {
    padding-top: 0px;
    width: 95%;
    height: auto;
    position: relative;
}

/* Still working out how to make the captions not get covered */
.workshop-caption {
    margin-top: 10px;
    /* position: absolute; */
}

.tags {
    color: #009ADE;
    font-size: 12px;
    padding: 0;
    margin: 0 0 0 0;
}

.created-by {
    color: #6F6F6F;
    font-size: 10px;
    padding: 0;
    margin: 0 0 0 0;
}


.workshop-item:hover img {
    transform: scale(0.95);
}

.sidebar {
    background-color: #E4E4E4;
    padding: 20px;
}


.about-block {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center
}

.caption {
    font-style: italic
}

#about-blurb {
    margin: 0 auto;
    width: 95%;
}

#download {
    margin-bottom: 6px;

.top-blurb {
    background-color: #999999;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.tag-box {
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 3px solid #00448B
}

.tag {
    color: #000;
    font-size: 12px;
    margin: 0 0 0 0;
}

.blurb-img {
    outline: 3px solid #00448B;
    margin-left: 15px;
    margin-top: 20px;
    height: auto;
    width: 400px;
}

.blurb-text {
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 3px solid #00448B;
}

.jump-button {
    background-color: #00448B;
    margin-left: 20px;
    text-align: center;
    color: #ffffff;
}

.workshop-content {
    margin-top: 20px;
    margin-left: 50px;
    max-width: 60%;
}

.photo-strip {
    margin-left:auto;
    margin-right: 80px;
    width: 400px;
}

.strip-photo {
    margin-top: 30px;
    width: 400px;

}